/*
Main Green: #0E3D38;
#1F7268;
*/

*{
	padding: 0;
	margin: 0;
}

body{
	background: #0E3D38;
	font-family: Arial, Helvetica, sans-serif !important;
}

.big-form{
	border: 1px	solid #0E3D38;
	border-radius: 20px;
	width: 80%;
	margin: 50px auto;
	padding: 50px 0px;
}

h1, h2{
	text-align: center;
	color: #0E3D38;
}

h2{
	color: gray;
}

.big-form [type="email"], select, .big-form a, .big-form [type="password"], .big-form [type="date"], .big-form button,
.big-form [type="submit"], .big-form select, .big-form [type="number"], .big-form [type="text"], .big-form [type="file"],.big-form [type="checkbox"]{
	display: block;
	text-align: center;
	margin: 10px auto;
}

.big-form [type="password"], select, .big-form [type="email"], 
.big-form [type="text"], .big-form select, .big-form [type="date"], .big-form [type="number"], 
.big-form [type="file"],.big-form [type="checkbox"]{
	padding: 10px;
	border-radius: 5px;
	font-size: 16px;
	width: 70%;
}

.big-form label{
	display: block;
	text-align: center;
	margin: 0px auto;
}

.big-form select{
	padding: 0;
}

.big-form [type="file"]{
	max-width: 450px;
}

.big-form [type="submit"], ul a, .button-back, .menu-collapse, .big-form button{
	background: #0E3D38;
	color: white;
	padding: 8px 10px;
	border-radius: 4px;
	transition: all 400ms ease-in-out;
}

.columns{
   height: auto;
   overflow: hidden;
}

ul{
	width: 200px;
	float: left;
	height: 360px;
}

.content{
	width: auto;
	float: none;
    overflow: hidden;
	padding: 40px;
}

ul li{
	text-decoration: none;
	list-style: none;
}

ul a, .button-back, ul .menu-collapse{
	display: block;
	margin: 0 0 2px 0;
	text-decoration: none;
	outline: none;
	margin: 5px;
}

.button-back{
	width: 80px;
	text-align: center;
}

ul .menu-collapse{
	display: none;
}

.big-form [type="submit"]:hover, .big-form button:hover, ul a:hover, .button-bkac:hover{
	background: #1F7268;
}

a{
	text-decoration: none !important;
}

.big-form a{
	text-decoration: none;
	outline: none;
	color: #8C8C96;
	transition: color 500ms ease;
}

.big-form a:link, .big-form a:visited, .big-form a:active, .big-form a:focus{
	color: #8C8C96;

}

.big-form a:hover{
	color: #FBC90B;
}





.title{
	margin: 20px auto;
}

.title img{
	width: 90%;
	max-width: 900px;
	display: block;
	margin: 0px auto;
}

.container{
	background: white;
	margin: 40px auto;
	width: 80%;
	overflow: auto;

}

.divider{
	width: 100%;
	background-image: url('content-head.png');
	background-size: cover;
	height: 25px;

}

.information-header{
	display: flex;
}

.user-image{
	width: 100px;
	height: 100px;
	background-image: url('default-user.png');
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 50%;

}

.sub-header{
	padding: 10px;
}

.information-container{

}

.information-container h2{
	margin: 40px;
}

.libreta{
	display: flex;
	width: 90%;
	margin: 0;
	justify-content: center;
	align-items: center;
}

.libreta input[type="checkbox"]{
	width: 50px;
}

.libreta input[type="file"]{
	width: 400px;
}

.hidden{
	display: none;
}

.contenedor-lugar{
	display: flex;
	align-items: center;
	padding: 0px 90px;
}

.contenedor-lugar .form-group{
	width: 600px !important;
}

.col-70{
	width: 70%;
	margin: 5px auto;
}



.contenedor-select{
	width: 2000px;
}

#select-departamento{

}
.contenedor-graduado{
	
}

.loading-screen{
	background: white;
	position: fixed;
	z-index: 20;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.hide{
	display: none;
}


/*
	ADMINISTRADOR
*/

.user_container{
	width: 60%;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fffafa;
	padding: 15px;
	border: 1px lightgray solid;
	border-radius: 15px;
	text-decoration: none;


}

.user_container:hover, .user_container:visited, .user_container:active, .user_container:focus,.user_container:link{
	text-decoration: none;
	color: black;
}

.admin-header{
	width: 150px;
	display: block;
	padding: 20px;
}

.admin-contenido{
	width: 30%;
	min-width: 100px;
	display: block;
}

.admin-image{
	width: 100px;
	height: 100px;
	background-image: url('default-user.png');
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .divider{
    	display: none;
    }

    .user_container{
    	flex-wrap: wrap;
	}

	.columns{
		display: block;
	}

	ul{
		width: 95%;
		float: none;
		margin: 0px auto;
		margin-top: 10px;
		height: 36px;
		overflow: hidden;
		transition: all 300ms ease-in-out;
		border-radius: 5px;
	}

	ul a, ul .menu-collapse{
		margin: 0 0 0px 0;
		border-radius: 0;
	}

	.big-form [type="submit"]:hover, .big-form button:hover, ul a:hover, .button-back:hover{
		background: #1F7268;
	}

	ul .menu-collapse{
		display: block;
		border: none;
		border-radius: 0 5px 0 0;
	}
	.contenedor-lugar{
		flex-wrap: wrap;
	}

}