/*

Main Green: #0E3D38;
#1F7268;

*/

*{
	padding: 0;
	margin: 0;
}

body{
	background: #0E3D38;
	font-family: Arial, Helvetica, sans-serif !important;
}

.big-form{
	border: 1px	solid #0E3D38;
	border-radius: 20px;
	width: 80%;
	margin: 50px auto;
	padding: 50px 0px;
}

h1, h2{
	text-align: center;
	color: #0E3D38;
}

h2{
	color: gray;
}

.big-form [type="email"], .big-form label, select, .big-form a, .big-form [type="password"], .big-form [type="date"], 
.big-form [type="submit"], .big-form [type="number"], .big-form [type="text"], .big-form [type="file"],.big-form [type="checkbox"]{
	display: block;
	text-align: center;
	margin: 10px auto;
}

.big-form [type="password"], select, .big-form [type="email"], 
.big-form [type="text"], .big-form [type="date"], .big-form [type="number"], 
.big-form [type="file"],.big-form [type="checkbox"]{
	padding: 10px;
	border-radius: 5px;
	font-size: 16px;
	width: 70%;

}

.big-form [type="file"]{
	max-width: 450px;
}

.big-form [type="submit"], ul a{
	background: #0E3D38;
	color: white;
	padding: 8px 10px;
	border-radius: 4px;
	transition: all 400ms ease-in-out;
}

.columns{
	display: flex;
}

ul{
	flex-grow: 1;
}

.content{
	flex-grow: 20;
	padding: 40px;
}

ul li{
	text-decoration: none;
	list-style: none;
}

ul a{
	display: block;
	margin: 0 0 2px 0;
	text-decoration: none;
	outline: none;

}

.big-form [type="submit"]:hover, ul a:hover{
	background: #1F7268;
}

a{
	text-decoration: none !important;
}

.big-form a{
	text-decoration: none;
	outline: none;
	color: #8C8C96;
	transition: color 500ms ease;
}

.big-form a:link, .big-form a:visited, .big-form a:active, .big-form a:focus{
	color: #8C8C96;

}

.big-form a:hover{
	color: #FBC90B;
}





.title{
	margin: 20px auto;
}

.title img{
	display: block;
	margin: 0px auto;
}

.container{
	background: white;
	margin: 40px auto;
	width: 80%;
	overflow: auto;

}

.divider{
	width: 100%;
	background-image: url('content-head.png');
	background-size: cover;
	height: 25px;

}

.information-header{
	display: flex;
}

.user-image{
	width: 100px;
	height: 100px;
	background-image: url('default-user.png');
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 50%;

}

.sub-header{
	padding: 10px;
}

.information-container{

}

.information-container h2{
	margin: 40px;
}

.libreta{
	display: flex;
	width: 90%;
	margin: 0;
	justify-content: center;
	align-items: center;
}

.libreta input[type="checkbox"]{
	width: 50px;
}

.libreta input[type="file"]{
	width: 400px;
}

.hidden{
	display: none;
}

.contenedor-lugar{
	display: flex;
	align-items: center;
	padding: 0px 90px;
}

.contenedor-select{
	width: 2000px;
}

#select-departamento{

}
.contenedor-graduado{
	
}