<!DOCTYPE html>
<html>
<head>
	<title>
		Banco de Hojas de Vida - Universidad de Cundinamarca
	</title>

	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="title">
		<img src="image_logo.png">
		
	</div>


	<div class="container">
		<div class="divider"></div>

		<h1>Bienvenido a La Plataforma de Banco de Hojas de vida</h1>
		<h2>Universidad de Cundinamarca</h2>

		<form>
			
			<a href="login.html">Ya estás registrado?   Iniciar Sesión</a>
		</form>	
	</div>

</body>
</html>